<div class="contenedor">
    <div class="header">
        <div class="enlace">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Ingreso de vehiculo</h5>
                    <p class="card-text">Modulo para ingresar registro de vehiculos al parqueadero</p>
                    <a href="/ingreso" class="btn btn-primary">Ingresar ahora</a>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Salida de Vehiculo</h5>
                    <p class="card-text">Modulo para registrar la salida del vehiculo del parqueadero.</p>
                    <a href="/salida" class="btn btn-primary">Ingresar ahora</a>
                </div>
            </div>
        </div>
    </div>
</div>