<div class="card border-primary mb-3">
    <div class="card-body text-primary">
        <h3 class="display-4">Vehiculos parqueadero</h3>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>id</th>
                    <th>Placa</th>
                    <th>Fecha ingreso</th>
                    <th>Color</th>
                    <th>Tipo vehiculo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let movimiento of movimiento" >
                    <td>{{ movimiento.id }}</td>
                    <td>{{ movimiento.vehiculo.placa }}</td>
                    <td>{{ movimiento.horaIngreso }}</td>
                    <td>{{ movimiento.vehiculo.color }}</td>
                    <td>{{ movimiento.vehiculo.tipoVehiculo.descripcion }}</td>
                    <td>
                        <button type="button" name="salida" class="btn btn-warning" id="generar-salida" (click)='obtenerObjeto(movimiento)'>Registrar Salida</button>
                    </td>                   
                </tr>
            </tbody>
        </table>

        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-danger" [routerLink]="['/home']"
                id="btnVolverPrincipal">Volver</button>
        </div>
    </div>
</div>
